<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.movilstore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_white"
        android:label="@string/movilstore"
        android:theme="@style/Theme.Dark_orange" >
        <activity
            android:name="LogginActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.movilstore.LoadingActivty" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="PagerActivity" >
        </activity>
        <activity android:name="LoadingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="GUI" >
        </activity>
        <activity android:name="GuiFichaProducto" >
        </activity>
        <activity android:name="GuiCrearVenta" >
        </activity>
        <activity android:name="GuiUserData"></activity>
        <activity android:name="GuiPreguntas"></activity>
        <activity android:name="GuiCompraRealizada"></activity>
        <activity android:name="GuiArticulos"></activity>
    </application>

</manifest>